*.sw?
.deps/
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.h
config.h.in
config.h.in~
config.log
config.status
configure
depcomp
install-sh
missing
stamp-h1
ar-lib
libcpp11.a
dummy.o
dummy
config.guess
config.sub
TAGS
compile
test-driver
cpp11-*.tar.gz
src/cpp11/.dirstamp
src/cpp11/cpp11.o
src/cpp11/myvector.o
src/cpp11/factorial.o
src/cpp11/mysort.o
src/cpp11/random.o
src/cpp11/threading.o
src/cpp11/consumer.o
test/.dirstamp
test/cpp11test.o
test/myvectortest.o
test/mysorttest.o
test/randomtest.o
test/testrunner.o
testrunner
test-suite.log
testrunner.log
testrunner.trs
.gdb_history
